

.order-status-item {
  transition: all 2s ease-in-out;
  border-radius: 10px;
  border: 2px solid var(--mainWhite);
  padding: 10px;
}

.order-status-current-item {
  transition: all 2s ease-in-out;
  border-radius: 10px;
  border: 2px solid var(--mainWhite);
  padding: 10px;
}
/* end of cart */
/* cart item */
.order-status-item-image {
  max-width: 100px;
}

.order-status-item-button {
  color: var(--mainWhite);
  transition: all 1s ease-in-out;
  font-size: 12px;
  height: 40px;
  width: 40px;
}
.order-status-item-button:hover {
  transform: scale(1.1);
  color: var(--mainBlack);
}

.order-status-delete-item-button {
  color: var(--mainWhite);
  transition: all 1s ease-in-out;
  font-size: 20px;
  height: 50px;
  width: 50px;
}
.order-status-delete-item-button:hover {
  transform: scale(1.1);
  color: var(--mainBlack);
}

.order-status-item-quantity {
  border-style: solid;
  border-width: 5px;
  border-color: red;
}

.order-status-quantity-container{
  padding-left: 8px;
  padding-right: 8px;
}
/* cart item */
/* cart buttons */

.btn-black {
  color: var(--mainBlack) !important;
  border-color: var(--mainBlack) !important;
}\
.btn-black:hover {
  color: var(--mainWhite) !important;
  background: var(--mainBlack) !important;
}

.order-status-button {
  color: var(--mainWhite);
  transition: all 1s ease-in-out;
  margin: 5px;
  padding: 2px;
  width: 220px;
}

.order-status-button:hover {
  transform: scale(1.1);
  color: var(--mainBlack);
}

/* end of cart buttons */
.Progress {
  width: 100%;
  background-color: #ddd;
}

.myBar {
  width: 1%;
  height: 30px;
  background-color: #4CAF50;
}
