<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{{ contents.title }}</title>

  <!-- Bootstrap core CSS -->
  <link href="static/{{ bootstrap_folder }}/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="static/{{ bootstrap_folder }}/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Plugin CSS -->
  <link href="static/{{ bootstrap_folder }}/vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="static/{{ bootstrap_folder }}/css/freelancer.min.css" rel="stylesheet">

  <link href="static/css/draganddrop.css" rel="stylesheet">

  <!-- CSS custom overrides -->
  <link href="static/css/custom.css" rel="stylesheet">
  <link href="static/css/cart.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">{{ contents.navbar.left_item }}</a>
      <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#stations">{{ contents.navbar.right_item_1 }}</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#order">{{ contents.navbar.right_item_2 }}</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="masthead bg-primary text-white text-center">
    <div class="container">
      <img class="img-fluid mb-5 d-block mx-auto" src="static/{{ bootstrap_folder }}/img/profile.png" alt="">
      <h1 class="text-uppercase mb-0">{{ contents.start.title }}</h1>
      <hr class="star-light">
      <h2 class="font-weight-light mb-0">{{ contents.start.subtitle }}</h2>
    </div>
  </header>

  <!-- Stations Grid Section -->
  <section class="portfolio" id="stations">
    <div class="container">
      <h2 class="text-center text-uppercase text-secondary mb-0">{{ contents.navbar.right_item_1 }}</h2>
      <hr class="star-dark mb-5">
      <div class="row">
        <div class="col-md-6 col-lg-4">
          <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-1">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                <i class="fas fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="static/{{ bootstrap_folder }}/img/portfolio/cabin.png" alt="">
            <div class="on-img-topright">Status:</div>
            <span class="status-dot" id="status_ST10"></span>
            <span class="on-img-topleft">ST10</span>
          </a>
        </div>
        <div class="col-md-6 col-lg-4">
          <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-2">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                <i class="fas fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="static/{{ bootstrap_folder }}/img/portfolio/cake.png" alt="">
            <div class="on-img-topright">Status:</div>
            <span class="status-dot" id="status_ST20"></span>
            <span class="on-img-topleft">ST20</span>
          </a>
        </div>
        <div class="col-md-6 col-lg-4">
          <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-3">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                <i class="fas fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="static/{{ bootstrap_folder }}/img/portfolio/circus.png" alt="">
            <div class="on-img-topright">Status:</div>
            <span class="status-dot" id="status_ST30"></span>
            <span class="on-img-topleft">ST30</span>
          </a>
        </div>
        <div class="col-md-6 col-lg-4">
          <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-4">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                <i class="fas fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="static/{{ bootstrap_folder }}/img/portfolio/game.png" alt="">
            <div class="on-img-topright">Status:</div>
            <span class="status-dot" id="status_ST40"></span>
            <span class="on-img-topleft">ST40</span>
          </a>
        </div>
        <div class="col-md-6 col-lg-4">
          <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-5">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                <i class="fas fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="static/{{ bootstrap_folder }}/img/portfolio/safe.png" alt="">
            <div class="on-img-topright">Status:</div>
            <span class="status-dot" id="status_ST50"></span>
            <span class="on-img-topleft">ST50</span>
          </a>
        </div>
        <div class="col-md-6 col-lg-4">
          <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-6">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                <i class="fas fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="static/{{ bootstrap_folder }}/img/portfolio/submarine.png" alt="">
            <div class="on-img-topright">Status:</div>
            <span class="status-dot" id="status_ST60"></span>
            <span class="on-img-topleft">ST60</span>
          </a>
        </div>
        <div class="col-md-6 col-lg-4">
          <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-1">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                <i class="fas fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="static/{{ bootstrap_folder }}/img/portfolio/cabin.png" alt="">
            <div class="on-img-topright">Status:</div>
            <span class="status-dot" id="status_ST70"></span>
            <span class="on-img-topleft">ST70</span>
          </a>
        </div>
        <div class="col-md-6 col-lg-4">
          <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-2">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                <i class="fas fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="static/{{ bootstrap_folder }}/img/portfolio/cake.png" alt="">
            <div class="on-img-topright">Status:</div>
            <span class="status-dot" id="status_ST80"></span>
            <span class="on-img-topleft">ST80</span>
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- Order section -->
  <section class="bg-primary text-white mb-0" id="order">
    <div class="container">
      <h2 class="text-center text-uppercase text-white">{{ contents.navbar.right_item_2 }}</h2>
      <hr class="star-light mb-5">
      <div class="row" >
        <div class="cart-buttons-container mt-3 d-flex justify-content-between center">
          <button class="cart-button btn text-uppercase btn-outline-light" id="model-reset-button">
            <h5 class="text-center text-uppercase center"> Cofnij zmiany </h4>
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
        </div>
        <div class="col-md-4">
          <div id="product">
            <model-stl v-bind="props" @on-mouseup="onMouseUp" ></model-stl>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
        </div>
        <div class="col-2">
          <div id="sleeve" v-bind:style={'pointer-events':events}>
            <model-stl v-bind="props" @on-load="onLoad" ></model-stl>
          </div>
        </div>
        <div class="col-2">
          <div id="cover" v-bind:style={'pointer-events':events}>
            <model-stl v-bind="props" @on-load="onLoad" ></model-stl>
          </div>
        </div>
        <div class="col-2">
          <div id="screw" v-bind:style={'pointer-events':events}>
            <model-stl v-bind="props" @on-load="onLoad" ></model-stl>
          </div>
        </div>
      </div>
      <div class="row" >
        <div class="cart-buttons-container mt-3 d-flex justify-content-between center">
          <button class="cart-add-item-button cart-button btn text-uppercase btn-outline-light">
            <h5 class="text-center text-uppercase center"> Dodaj do zamówienia </h4>
          </button>
        </div>
      </div>
    </div>
  </section>

  <!-- Cart Section -->
  <section class="bg-primary text-white mb-0">
    <div class="container">
      <div id="cart" class="cart">
        <!-- cart item -->
        <div class="cart-item d-flex align-items-center my-3 cart-empty">
          <h4 class="text-center text-uppercase text-white center"> Brak produktów w zamówieniu </h4>
        </div>
        <!--end of  cart item -->
      </div>
      <!-- cart total -->
      <div class="cart-total-container d-flex justify-content-around text-capitalize mt-5">
        <h5>Suma</h5>
        <h5> PLN <strong id="cart-total" class="font-weight-bold">10.00</strong> </h5>
      </div>
      <!--end cart total -->
      <!-- cart buttons -->
      <div class="cart-buttons-container mt-3 d-flex justify-content-between flex-wrap">
        <div class="cart-buttons-container mt-3 d-flex justify-content-between col-xs-12 col-md-6">
          <button id="empty-cart" class="cart-button btn text-uppercase btn-outline-light center">
            <h5 class="text-center text-uppercase center"> Usuń zawartość </h4>
          </button>
        </div>
        <div class="cart-buttons-container mt-3 d-flex justify-content-between col-xs-12 col-md-6">
          <button id="confirm-order" class="cart-button btn text-uppercase btn-outline-light center">
            <h5 class="text-center text-uppercase center"> Potwierdź zamówienie </h4>
          </button>
        </div>
      </div>
      <!--end of  cart buttons -->
    </div>
  </section>

  <!-- Footer -->
  <div class="copyright py-4 text-center text-white">
    <div class="container">
      <small>Copyright &copy; AGH 2019<br>Authored by Nikodem Kastelik & Paweł Kwiek</small>
    </div>
  </div>

  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
  <div class="scroll-to-top d-lg-none position-fixed ">
    <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
      <i class="fa fa-chevron-up"></i>
    </a>
  </div>

  <!-- Portfolio Modals -->

  <!-- Portfolio Modal 1 -->
  <div class="portfolio-modal mfp-hide" id="portfolio-modal-1">
    <div class="portfolio-modal-dialog bg-white">
      <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
        <i class="fa fa-3x fa-times"></i>
      </a>
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-secondary text-uppercase mb-0">Project Name</h2>
            <hr class="star-dark mb-5">
            <img class="img-fluid mb-5" src="static/{{ bootstrap_folder }}/img/portfolio/cabin.png" alt="">
            <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
            <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
              <i class="fa fa-close"></i>
              Close Project</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal 2 -->
  <div class="portfolio-modal mfp-hide" id="portfolio-modal-2">
    <div class="portfolio-modal-dialog bg-white">
      <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
        <i class="fa fa-3x fa-times"></i>
      </a>
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-secondary text-uppercase mb-0">Project Name</h2>
            <hr class="star-dark mb-5">
            <img class="img-fluid mb-5" src="static/{{ bootstrap_folder }}/img/portfolio/cake.png" alt="">
            <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
            <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
              <i class="fa fa-close"></i>
              Close Project</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal 3 -->
  <div class="portfolio-modal mfp-hide" id="portfolio-modal-3">
    <div class="portfolio-modal-dialog bg-white">
      <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
        <i class="fa fa-3x fa-times"></i>
      </a>
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-secondary text-uppercase mb-0">Project Name</h2>
            <hr class="star-dark mb-5">
            <img class="img-fluid mb-5" src="static/{{ bootstrap_folder }}/img/portfolio/circus.png" alt="">
            <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
            <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
              <i class="fa fa-close"></i>
              Close Project</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal 4 -->
  <div class="portfolio-modal mfp-hide" id="portfolio-modal-4">
    <div class="portfolio-modal-dialog bg-white">
      <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
        <i class="fa fa-3x fa-times"></i>
      </a>
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-secondary text-uppercase mb-0">Project Name</h2>
            <hr class="star-dark mb-5">
            <img class="img-fluid mb-5" src="static/{{ bootstrap_folder }}/img/portfolio/game.png" alt="">
            <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
            <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
              <i class="fa fa-close"></i>
              Close Project</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal 5 -->
  <div class="portfolio-modal mfp-hide" id="portfolio-modal-5">
    <div class="portfolio-modal-dialog bg-white">
      <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
        <i class="fa fa-3x fa-times"></i>
      </a>
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-secondary text-uppercase mb-0">Project Name</h2>
            <hr class="star-dark mb-5">
            <img class="img-fluid mb-5" src="static/{{ bootstrap_folder }}/img/portfolio/safe.png" alt="">
            <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
            <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
              <i class="fa fa-close"></i>
              Close Project</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal 6 -->
  <div class="portfolio-modal mfp-hide" id="portfolio-modal-6">
    <div class="portfolio-modal-dialog bg-white">
      <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
        <i class="fa fa-3x fa-times"></i>
      </a>
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-secondary text-uppercase mb-0">Project Name</h2>
            <hr class="star-dark mb-5">
            <img class="img-fluid mb-5" src="static/{{ bootstrap_folder }}/img/portfolio/submarine.png" alt="">
            <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
            <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
              <i class="fa fa-close"></i>
              Close Project</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="static/{{ bootstrap_folder }}/vendor/jquery/jquery.min.js"></script>
  <script src="static/{{ bootstrap_folder }}/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="static/{{ bootstrap_folder }}/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="static/{{ bootstrap_folder }}/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

  <!-- Contact Form JavaScript -->
  <script src="static/{{ bootstrap_folder }}/js/jqBootstrapValidation.js"></script>
  <script src="static/{{ bootstrap_folder }}/js/contact_me.js"></script>

  <!-- Custom scripts for this template -->
  <script src="static/{{ bootstrap_folder }}/js/freelancer.min.js"></script>
  <script src="static/js/vue.js"></script>
  <script src="static/js/vue-3d-model.js"></script>
  <script src="static/js/draganddrop.js"></script>
  <script src="static/js/statusquery.js"></script>
  <script src="static/js/custom.js"></script>
  <script src="static/js/cart.js"></script>
</body>

</html>
